{#
/**
 * @file
 * View template to display a delimited list of text rows.
 *
 * @ingroup views_templates
 */
#}
{% apply spaceless %}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div class="views-delimited-list">

  {% if options.prefix %}
    <span class="views-delimited-list-prefix">
    {{ options.prefix }}
    </span>
  {% endif %}

  {% for i, row in rows %}
    {# Row #}
    <span class="views-row">
      {{- row -}}
    </span>

    {# Delimiter #}
    {% if has_delimiter[i] and options.delimiter %}
      <span class="views-row-delimiter">{{ options.delimiter }}</span>
    {% endif %}

    {# Conjunctive #}
    {% if has_conjunctive[i] and options.conjunctive %}
      <span class="views-row-conjunctive">{{ options.conjunctive }}</span>
    {% endif %}
  {%  endfor %}

  {% if options.suffix %}
    <span class="views-delimited-list-suffix">{{ options.suffix }}</span>
  {%  endif %}
</div>
{% endapply %}
